html , body {
	background-color: #f7f9f9;
  font-family: sans-serif;
}
h1 {
	text-align: center;
}
a.btn {
	background-color: #005bff;
	border: none;
	border-radius: 8px;
	font-size: 17px;
	color: #fff;
	height: 48px;
	line-height: 24px;
	margin-top: 10px;
	padding: 6px 12px;
	width: 100%;
	text-decoration: none;
}
ul li{
	display: block;
	width: 30em;
	margin: 0 auto;
	background-color: #ffffff;
	padding: 1em;
	border-radius: 10px;
	margin-bottom: 1em;
	border: solid #666 1px;
}
img{
	max-width: 100%;
}
